body{
    margin-top: 2rem;
}

h1{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
    color:  #656565;
}

.selections {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.selection {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 5rem;
    transition: 100ms;
}

.selection:hover {
    transform: scale(1.5);
}

.results {
    margin-top: 3rem;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    font-size: 3rem;
    font-weight: bold;
}

.result-score {
    color:  #656565;
}

.player {
    margin-bottom: 2rem;
}

.loser{
    font-size: 5rem;
    opacity: 0.5;
}

.winner {
    font-size: 5rem;
    transform: scale(1.3);
}